# This gitignore is a whitelist. Inspired by https://rgbcu.be/blog/gitignore

*

!.gitignore
!*.md
!*.py
!Dockerfile
!docker-compose.yaml
!requirements.txt
!.env.example
!core
!images
!llm
!providers
!search
!utils
!config
!commands
!system_prompt.txt

organizer.py
